.modal {
  position: fixed;
  z-index: 999;
  /* Posicionamiento fijo, */
  top: 0;
  left: 0;
  width: 100%;
  min-height: 300vh;
  background-color: rgba(0, 0, 0, 0.75);
  display:none;
  justify-content: center;
  align-content: center;

}

.modal.is-open{
  display: flex;
}


/* Acá modifico el tamaño de mi modal*/
.modal-container{
  position:relative;
  padding:1rem;
  min-width: 420px;
  max-width: 580px;
  min-height: 300px;
  max-height: 700px;
  
  /* El overflow-y es para que si el contenido supera esos pixeles se pueda scrollear igualmente sin problema*/
  overflow-y: auto;
  background-color: #fff;
}

.modal-close{
  position:absolute;
  top:1rem;
  right: 1rem;

}